.landing_background {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/office-desk2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;  /* Add padding to the top to avoid overlap with fixed navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h3 {
  color: white;  /* Make the text color white for better visibility */
}

p {
  color: #b0b0b0;  /* Slightly grayish text for the description */
}